.sign__input_active:invalid {
    border-bottom: 1px solid #FF0000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
}