.header__info {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

@media screen and (max-width:767px) {
    .header__info {
        flex-direction: column;
        padding: 40px 0 0;        
        align-items: center;
    }
}