.sign__save-button {
    padding: 0;
    border: none;
    margin: 168px 0 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    border-radius: 2px;
}

.sign__save-button:hover {
    opacity: 0.85;
    transition: opacity 0.5s;
    cursor: pointer;
}

.sign__save-button:disabled,  .sign__save-button:disabled:hover{
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    border: none;
    color: #CCCCCC;
    cursor: default;
}

@media screen and (max-width:767px) {
    .sign__save-button {
        height: 46px;
        font-size: 16px;
        line-height: 19px;
        margin: 125px 0 0;
    }
}