.tiles__image {
    object-fit: cover;
    object-position: center;
    width: 282px;
    height: 282px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    /*Для случая с ошибкой загрузки картинки*/
    min-height: 282px;
    max-width: 282px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tiles__image:hover {
    opacity: 0.8;
    transition: opacity 1s;
    cursor: pointer;
}