.popup__image {
    min-height: 540px;
    max-width: 75vw;
    max-height: 75vh;
    object-fit: cover;
    color: #FFFFFF;
    position: relative;
    object-position: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}